# Type casting in Python
- Type casting refers to **changing values from one data type to another**.
- In Python, type casting is common among strings, integer and float data types.
- When data type conversion is done automatically by the compiler, it's called **implicit conversion**. When it is engineered by the programmer, it's called **explicit conversion**.

## Conversions between integers and strings
- Suppose we have two numbers that we want to perform Mathematical operations on, but one number is stored as a string data type. E.g 5 and '20'. By default, Python does not perform Mathematical operations between an integer data type and a string data type. There will be an error because Maths operations can only be performed with integer or floating numbers. To avoid the error, we have to convert '20' either to an integer or float data type.
- To convert to integer data type, we use the *int()* function.
- To convert to string data type, we use the *str()* function.

In [1]:
# create two numbers stored as integer and string respectively
int_num = 5
str_num = '20'

In [2]:
# this number is stored as an integer
print(int_num)

5

In [3]:
# this number is stored as a string
print(str_num)

20

In [4]:
type(int_num)

int

In [5]:
type(str_num)

str

In [6]:
# adding an integer and a string returns an error
int_num + str_num

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
# convert the string data type to integer
converted_num = int(str_num)

In [8]:
type(converted_num)

int

In [9]:
# adding the two numbers now does not return an error
int_num + converted_num

25

## Conversions between integers and floating points
- A number that is stored as a string can be directly converted to integer data type or float data type.
- To convert to float data type, we use the *float()* method.

In [10]:
# convert this string to integer
string_to_integer = int('5')

In [11]:
print(string_to_integer)

5

In [12]:
type(string_to_integer)

int

In [13]:
# convert this string to float
string_to_float = float('5')

In [14]:
print(string_to_float)

5.0

In [15]:
type(string_to_float)

float

- You can also change an integer data type to float and vice versa.

In [16]:
# convert integer to float
int_to_float = float(10)

In [17]:
print(int_to_float)

10.0

In [18]:
# convert float to integer
float_to_int = int(10.0)

In [19]:
print(float_to_int)

10

- When adding an integer and a floating number, the integer is automatically converted to float so that the returned output is also a float. This is called **implicit conversion**. In some other languages, it is called **coercion**. Example below:

In [20]:
3 + 4.0

7.0

## Converting booleans to numbers and strings
- Booleans are logical values; True and False. Let's see their number representation and play with it.

In [21]:
# convert boolean True to integer
int_true = int(True)

In [22]:
print(int_true)

1

In [23]:
# convert boolean False to integer
int_false = int(False)

In [24]:
print(int_false)

0

- Boolean **True** is converted to 1, whereas boolean **False** is converted to 0.

In [25]:
# convert boolean True to float
float(True)

1.0

In [26]:
type(float(True))

float

In [27]:
# convert boolean False to float
float(False)

0.0

In [28]:
type(float(False))

float

In [29]:
# convert boolean True to str
str(True)

'True'

In [30]:
# convert boolean True to str
str(False)

'False'

This concept of type casting is important when it comes to handling real world data. This is because most of the real world data is messy. In most cases you have to convert values from one data type to another for easier and effective analysis. This forms the basics of **data cleaning process**.

### Reference Material:
Wikipedia Notes - https://en.m.wikipedia.org/wiki/Type_conversion