# Overview of Python Data Types
- Each value in Python can be classified into a data item called a **data type**. The purpose of categorizing items into data types is so as to guide the coder/programmer on what operations to perform on the items. 
- Let's go through an overview of some of the most common Python data types and how they are created.

## Integers 
- Contains whole numbers, e.g 6, 10, 2000000.

In [1]:
# this is an integer value object
days = 66

In [2]:
print(days)

66

In [3]:
# check the type (data type)
type(days)

int

## Float
- contains continuous real numbers (decimals and fractions), e.g 4/7, 6.012.

In [4]:
# this is a floating point object
class_mean = 65.37

In [5]:
print(class_mean)

65.37

In [6]:
type(class_mean)

float

## Complex numbers
- these are numbers that have an imaginary part, denoted using j e.g 3+2j, 3j.

In [7]:
# this a complex value object
complex_num = 50 + 6j

In [8]:
print(complex_num)

(50+6j)

In [9]:
type(complex_num)

complex

## Strings
- these are alphanumeric values/character values put inside quotes, e.g 'Paul', '1000', 'bank'. They could be under single quotes, double quotes or tripple quotes.

In [10]:
# create a string object called favorite_language 
# (and assign it to your favorite language)
favorite_language = 'Espanol'

In [11]:
# print the value of the object
print(favorite_language)

Espanol

In [12]:
# print the type of the object
type(favorite_language)

str

In [13]:
business = """Online Store"""

In [14]:
print(business)

Online Store

In [15]:
type(business)

str

## Lists
- they are an ordered collection of objects.
- A list is shown by square brackets [ ] enclosing the items/values, e.g ['Ben', 'Maths', 80, TRUE].

In [16]:
# create a list of five top companies
top_companies = ['Apple', 'Google', 'Amazon', 'Facebook', 'Coca-Cola']

In [17]:
print(top_companies)

['Apple', 'Google', 'Amazon', 'Facebook', 'Coca-Cola']

In [18]:
type(top_companies)

list

In [19]:
# list of mixed data type values
mixed_list = [10, 'Coca-Cola', 200]

In [20]:
print(mixed_list)

[10, 'Coca-Cola', 200]

In [21]:
type(mixed_list)

list

## Dictionaries
- they are unordered collection of items stored as key:value pairs, i.e each key in a dictionary is assigned to some value(s).
- A dictionary is shown by curly brackets {} enclosing the items, e.g {'name': 'Ben Kole'}.

In [22]:
# create a dictionary of some investment assets
assets = {'business':'cup branding', 'crypto': 'bitcoin', 'index': 'S&P', 'investments': 3}

In [23]:
print(assets)

{'business': 'cup branding', 'crypto': 'bitcoin', 'index': 'S&P', 'investments': 3}

In [24]:
type(assets)

dict

## Tuples
- they are an ordered collection of objects, just like lists. The only unique characteristic of tuples is that you cannot modify its values/items after you have created it. Hence, we say tuples are immutable.
- Tuples are shown by normal brackets () enclosing the items/values, e.g ('Linear Algebra', 'Calculus', 80, 0.97)

In [25]:
# this is a tuple
stocks = ('apple', 'google', 'amazon')

In [26]:
print(stocks)

('apple', 'google', 'amazon')

In [27]:
type(stocks)

tuple

In [28]:
returns = (200, 500, 1000)

In [29]:
print(returns)

(200, 500, 1000)

In [30]:
type(returns)

tuple

In [31]:
tuple_3 = (20, 'okay', 3.5)

In [32]:
print(tuple_3)

(20, 'okay', 3.5)

In [33]:
type(tuple_3)

tuple

## Sets
- they are an unordered sequence/collection of unique objects.
- A set is declared by parsing a list of items inside the *set()* function built in Python.

In [34]:
# this is a set
courses = set(['Algebra', 'Geometry', 'Statistics', 'Probability', 'Algebra', 5])

In [35]:
print(courses)

{5, 'Probability', 'Statistics', 'Geometry', 'Algebra'}

Notice that only unique elements were printed.

## Booleans
- these are logical values. Either True or False.

In [36]:
# it is true to say that I am coding 
# (because am actually coding now)
coding = True

In [37]:
print(coding)

True

In [38]:
type(coding)

bool

In [39]:
# it is however false to say that I am eating
# (because I am not eating now)
eating = True

In [40]:
print(eating)

True

In [41]:
type(eating)

bool

## END - THANKS FOR GOING THROUGH!!!