# Reading and Writing text files

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe = pd.read_csv("textfiles.csv")

In [3]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [4]:
dframe = pd.read_csv("textfiles.csv",header = None)

In [5]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [6]:
#another way of importing a csv file
dframe = pd.read_table("textfiles.csv",sep=",",header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
#specify the number of rows to read
pd.read_csv("textfiles.csv",header = None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [8]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [9]:
#export the dataframe back to a csv file
dframe.to_csv("mytextdata_out.csv")
#the file will be saved in the same folder to your working notebook

In [10]:
import sys #in order to see the output directly rather than saving it

In [11]:
#to show the above
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [12]:
#use a different delimiter(separator)
#e.g use an underscore(_) as a separator
dframe.to_csv(sys.stdout,sep="_")

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [13]:
#use a question mark(?) as a separator
dframe.to_csv(sys.stdout,sep="?")

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [14]:
#write a specific subset of columns
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [15]:
dframe.to_csv(sys.stdout,columns=[0,1,2],header=None)

0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

# N/B:

In [16]:
#Link for more built-in csv_read methods for python
url = "https://docs.python.org/2/library/csv.html"