In [1]:
print("hello python")

hello python

In [2]:
print(2020)

2020

Markdown cells are used for normal texts

In [4]:
print(0)

0

In [5]:
my_dogs = 2

In [6]:
print(my_dogs)

2

In [2]:
my_str = "ben"

In [3]:
print (my_str)

ben

In [7]:
?ben = "kole"

Object `ben = "kole"` not found.

You cannot start a variable name in python with symbols like '?'

In [8]:
type(my_dogs)

int

In [9]:
type(my_str)

str

In [10]:
a = 40 > 20

In [11]:
a

True

In [12]:
type(a)

bool

In [13]:
 print('hello here')

hello here

In [14]:
print('we don't do that)

SyntaxError: invalid syntax (<ipython-input-14-b7fbb76af3a6>, line 1)

In [15]:
print('we don"t do that')

we don"t do that

In [16]:
print("we don't do that")

we don't do that

In [18]:
my_name = "kole"
print(my_name)

kole

In [19]:
print(my_name[2])

l

In [20]:
print(my_name[0])

k

In [21]:
print(my_name[5])

IndexError: string index out of range

In [22]:
my_name[3]

'e'

In [23]:
my_name[0]

'k'

In [24]:
print("hello world")

hello world

In [26]:
print("hello \n world")

hello
 world

In [28]:
print("hello \tworld")

hello 	world

In [29]:
len("hello world")

11

In [32]:
2

2

In [34]:
my_name

'kole'

# slicing
[start:stop:step]

In [35]:
my_name

'kole'

In [36]:
my_name[:]

'kole'

In [37]:
my_name[::]

'kole'

In [39]:
my_name[1:]

'ole'

In [40]:
my_name[:1]

'k'

In [41]:
my_name[:3]

'kol'

In [42]:
my_name[::2]

'kl'

In [47]:
a = "202"

In [48]:
a * 5

'202202202202202'

In [49]:
name = "ben"
age = 21

In [54]:
print(name, "is" ,age ,"years old")

ben is 21 years old

In [55]:
print(f"{name} is {age} years old")

ben is 21 years old

# Immutability

In [1]:
name = "ben"

In [2]:
name

'ben'

In [5]:
name + " kole"

'ben kole'

   # Indexing and Slicing
   # N/B:
   Indexing and slicing is only applicable to string values.
   Indexing grabs a single character while slicing grabs a sub-section of them.

In [1]:
name = "lomuto"

In [3]:
print(name)
print(name[2])

lomuto
m

In [4]:
print(name[1:3])

om

In [5]:
print(name[::2])

lmt

In [6]:
print(name[-3])

u

In [13]:
len(name)
#outputs the length of the string

6

In [14]:
len("ben kole")
#the white space is also counted as a character.

8

In [16]:
name[::]

'lomuto'

In [19]:
name[::-1]

'otumol'

In [25]:
a = "benedict"

In [26]:
a[::-1]

'tcideneb'

In [23]:
b = "kole"

In [24]:
b[::-1]

'elok'

# String methods and properties

In [27]:
a = "ben"

In [28]:
last_letters = a[1::]

In [29]:
last_letters

'en'

In [60]:
"k" + last_letters
#concatenation

'ken'

In [55]:
x = "it's nice coding with python"

In [58]:
x = x + " okay"

In [59]:
x

"it's nice coding with python okay okay"

In [63]:
b = "k"

In [65]:
b*5
#multipliction

'kkkkk'

In [66]:
c = "college"

In [67]:
name

'lomuto'

In [68]:
name.capitalize()

'Lomuto'

In [69]:
name.upper()

'LOMUTO'

In [73]:
full_name = "elok benedict otumol"

In [74]:
full_name.split()

['elok', 'benedict', 'otumol']

In [75]:
full_name.split("e")

['', 'lok b', 'n', 'dict otumol']

# String formatting for printing

# .format() method

In [76]:
print("This is a {} {} {}".format("big","car","porsch"))

This is a big car porsch

In [79]:
print("This is a {0}{2}{1}".format(" big"," car"," porsch"))

This is a  big porsch car

In [82]:
print("This is a {a} {c} {b}".format(a = "big",b = "car",c = "porsch" ))

This is a big porsch car

# Float formatting method

In [83]:
mean = 80/3

In [85]:
print(mean)

26.666666666666668

In [87]:
print("The mean is {}".format(mean))

The mean is 26.666666666666668

In [92]:
print("The mean is {m:0.2f}".format(m = mean))

The mean is 26.67

In [11]:
print("My nam is {a} {b} {c}".format(a = "Ben",b = "Kole",c = "Lomuto"))

My nam is Ben Kole Lomuto

In [13]:
cat = 23.5
exam = 41
average_mark = cat + exam
print(average_mark)

64.5

In [14]:
a = 9
b = 7
average = a/b
print(average)

1.2857142857142858

In [17]:
print("The average is {}".format(average))

The average is 1.2857142857142858

In [24]:
print("The average is {a:0.3f}".format(a = average))

The average is 1.286

# f-string literals

In [25]:
name = "Kole"
marks = 86

In [26]:
print("{} scored {} in Maths".format(name,marks))

Kole scored 86 in Maths

In [27]:
print(f"{name} scored {marks} in Maths")

Kole scored 86 in Maths

# Lists
e.g
num[1,2,4,8]. 
Lists also support indexing and slicing

In [41]:
my_courses = ["stats","econ","prob"]

In [42]:
print(my_courses)

['stats', 'econ', 'prob']

In [44]:
my_courses

['stats', 'econ', 'prob']

In [45]:
my_biz = ["bus",90,9.45]

In [47]:
print(my_biz)

['bus', 90, 9.45]

In [ ]:
print(my_biz + my_courses)

In [50]:
my_biz[0] = "car"

In [51]:
my_biz

['car', 90, 9.45]

# Example of methods used with lists
 .append()
 .pop()
 .sort()
 .reverse()

In [83]:
dogs = ["puppy","jacky","yu"]

In [73]:
dogs

['puppy', 'jacky', 'yu']

In [74]:
dogs.append("micky")
#.append() method adds an item at the end of the list

In [75]:
dogs
#returns list with the added item

['puppy', 'jacky', 'yu', 'micky']

In [76]:
dogs.pop()
#shows the item removed from the list

'micky'

In [77]:
dogs
#returns the list without the removed item

['puppy', 'jacky', 'yu']

You can also specify the index of the item you want to remove

In [84]:
dogs

['puppy', 'jacky', 'yu']

In [86]:
dogs.pop(1)
#shows the removed item(at index 1)

'jacky'

In [87]:
dogs
#shows the dogs list without the removed item 'jacky'

['puppy', 'yu']

In [108]:
numbers = [30,20,1,0]
letters = ["a","v","c","x"]

In [91]:
print(numbers)

[30, 20, 1, 0]

In [92]:
print(letters)

['a', 'v', 'c', 'x']

In [97]:
numbers.sort()
#sorts the numbers in an order

In [98]:
numbers

[0, 1, 20, 30]

In [110]:
letters.sort()
#sorts the letters in an alphabetical order

In [100]:
letters

['a', 'c', 'v', 'x']

In [101]:
numbers.reverse()

In [103]:
numbers
#prints the list in a reversed order

[30, 20, 1, 0]

In [111]:
letters.reverse()
#reverses the sorted letters list

In [112]:
letters

['x', 'v', 'c', 'a']

# Dictionaries in python
Dictionaries hold keys with their values,put inside {}.Dictionaries take all other data types and data structures i.e you can write lists,strings,floats and other dictionaries inside a dictionary.

In [139]:
my_dict = {'key1':'value1','key2':'value2','key3':'value3'}

In [140]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [141]:
items = {"cars":"range","apples":40,"books":["mirror","pearl","mirracles"]}

In [142]:
items

{'cars': 'range', 'apples': 40, 'books': ['mirror', 'pearl', 'mirracles']}

In [143]:
outcomes = {"act":20,"work":9,"play":3}

In [144]:
outcomes["act"]
#displays the value at key called 'act'

20

In [145]:
outcomes["act"] = 23

In [146]:
outcomes

{'act': 23, 'work': 9, 'play': 3}

In [147]:
outcomes["play"]

3

In [148]:
items

{'cars': 'range', 'apples': 40, 'books': ['mirror', 'pearl', 'mirracles']}

In [149]:
items["cars"].upper()

'RANGE'

In [150]:
items["cars"] = "rover"
#replaces value at key 'cars'(initially "range") with "rover"

In [151]:
items

{'cars': 'rover', 'apples': 40, 'books': ['mirror', 'pearl', 'mirracles']}

In [152]:
items["shoes"] = "leather"
# adds a new key(shoes) with its value(leather) to the dictionary

In [153]:
items

{'cars': 'rover',
 'apples': 40,
 'books': ['mirror', 'pearl', 'mirracles'],
 'shoes': 'leather'}

# Dictionary methods 
e.g .keys() .values() .items()

In [154]:
my_things = {"cars":"bmw","apples":940,"books":["datascience","pearl","mirracles"]}

In [157]:
my_things.keys()
#shows the keys in the dictionary

dict_keys(['cars', 'apples', 'books'])

In [158]:
my_things.values()
# shows all the values in the dictionaries

dict_values(['bmw', 940, ['datascience', 'pearl', 'mirracles']])

In [160]:
my_things.items()
# shows all the items in the dictionary i.e keys and their values

dict_items([('cars', 'bmw'), ('apples', 940), ('books', ['datascience', 'pearl', 'mirracles'])])

# Tuples in python
Tuples are similar to lists. The difference is tuples use parethenses e.g (1,2,4). Another key and important difference is tuples are immutable i.e you can not change an element inside a tuple.

In [170]:
#this is a list
my_lst = ["a",2,"home"]

In [169]:
#this is a tuple
my_tupl = ("one","there",20)

In [163]:
type(my_lst)

list

In [164]:
type(my_tupl)

tuple

# Tuple immutability

In [171]:
my_lst

['a', 2, 'home']

In [172]:
my_tupl

('one', 'there', 20)

In [173]:
my_lst[0] = "apple"

In [174]:
my_lst

['apple', 2, 'home']

In [175]:
my_tupl[0] = "two"

TypeError: 'tuple' object does not support item assignment

# N/B:
Tuples immutability makes them suitable for storing data in advanced programming as the elements cannot be changed or replaced hence it enhances data integrity.

# Sets in python
Sets are unordered collection of unique elements. Examples:

In [12]:
my_set = set("a")

In [13]:
my_set

{'a'}

In [15]:
another_set = set("b")

In [16]:
another_set

{'b'}

In [19]:
num_set = set()
# declares that this is a set

In [20]:
num_set

set()

In [35]:
num_set.add(1)
# adds number 1 to the set

In [24]:
num_set

{1}

In [36]:
num_set.add("a")

In [37]:
num_set

{1, 2, 'a'}

In [ ]:
# num_set.add(2)

In [30]:
num_set

{1, 2}

To add more values to a set,we can cast a list to a set.

In [38]:
my_list = ["a",1,1,3,3,3,"a","d","a","d"]
# list of different repeated objects

In [39]:
set(my_list)
# casts the list as a set and returns the unique elements in the set

{1, 3, 'a', 'd'}

# Booleans
Logic - simply true or false.

In [40]:
True

True

In [41]:
False

False

In [43]:
type(True)

bool

In [44]:
type(true)

NameError: name 'true' is not defined

In [46]:
None
# used as a placeholder for an object we do not want to assign to something.

In [47]:
a

NameError: name 'a' is not defined

In [48]:
a = None

In [49]:
a

In [50]:
type(a)

NoneType

In [51]:
pwd

'C:\\Users\\BEN KOLE\\Desktop\\Python notebooks'

# Input/Output with files in python

## working with .txt files and file paths
pwd prints working directory

In [72]:
pwd

'C:\\Users\\BEN KOLE\\Desktop\\Python notebooks'

In [68]:
# %%writefile filename.txt 
#this is the syntax for writing or overwriting a .txt file using jupyter(works only in jupyter notebook)
#the content of the text file comes immediately after the syntax

In [73]:
%%writefile myfile.txt
this is the first text
this is the second text
this is the third text

Overwriting myfile.txt

In [74]:
myfile = open("myfile.txt") #this opens the text file

In [75]:
myfile = open("otherfile.txt") #this will return an error because there is no such file in my computer and if it was there I have not given the correct path to direct python on finding the file.

FileNotFoundError: [Errno 2] No such file or directory: 'otherfile.txt'

In [76]:
#the read method reads the contents of the text file as a single string.
myfile.read()

'this is the first text\nthis is the second text\nthis is the third text\n'

In [77]:
#what if I try reading the file for the second time
myfile.read()

''

the above happens because the cursor is assumed to have been at the beginning of the text file before we read the file, and after reading it the cursor moved to the end of the text file. So we have to reset the cursor. To achieve that we use the seek() method.

In [78]:
myfile.seek(0)

0

In [79]:
myfile.read()

'this is the first text\nthis is the second text\nthis is the third text\n'

In [86]:
myfile.seek(0)

0

In [81]:
myfile_content = myfile.read() #assigns a new variable to read the text file

In [82]:
myfile_content

'this is the first text\nthis is the second text\nthis is the third text\n'

In [83]:
myfile_content

'this is the first text\nthis is the second text\nthis is the third text\n'

In [84]:
myfile_content

'this is the first text\nthis is the second text\nthis is the third text\n'

In [87]:
myfile.read() #grabs content as a single string

'this is the first text\nthis is the second text\nthis is the third text\n'

In [88]:
myfile.seek(0) #resets the cursor

0

In [89]:
myfile.readlines() # reads lines as separate elements/objects in a list

['this is the first text\n',
 'this is the second text\n',
 'this is the third text\n']

In [90]:
myfile.seek(0)

0

In [91]:
print(myfile.readlines())

['this is the first text\n', 'this is the second text\n', 'this is the third text\n']

In [92]:
myfile.seek(0)

0

### Best practices for opening files

In [107]:
myfile.close()

In [108]:
my_old_file = open("myfile.txt")

In [109]:
my_old_file

In [110]:
with open("myfile.txt") as my_new_file:
    new_file_contents = my_new_file.read()

In [112]:
new_file_contents

'this is the first text\nthis is the second text\nthis is the third text\nthis is the fourth line'

In [114]:
my_new_file.readlines()

ValueError: I/O operation on closed file.

In [102]:
with open("myfile.txt",mode="a") as my_new_file:
    my_new_file.write("this is nthe fourth line")

In [113]:
new_file_contents

'this is the first text\nthis is the second text\nthis is the third text\nthis is the fourth line'

In [115]:
with open("myfile.txt",mode="r") as my_new_file:
    print(my_new_file.read())

this is the first text
this is the second text
this is the third text
this is the fourth line

In [116]:
with open("anotherfile",mode="w") as anotherfile:
    anotherfile.write("this is another file")

In [117]:
with open("anotherfile",mode="r") as anotherfile:
    content =anotherfile.read()

In [118]:
content

'this is another file'

In [119]:
print(content)

this is another file

### useful operators in Python
###### range, enumerate, zip, in, shuffle, input

In [3]:
#prints all values starting from zero upto but not including 10
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
#prints all values from zero upto but not including 10
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
# prints all values starting from 0 upto but not including 11,increasing by 2 after every step
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [19]:
#enumerate does index counts automatically in the form of tuples
a = "ben"

for num in enumerate(a):
    print(num)

(0, 'b')
(1, 'e')
(2, 'n')

In [21]:
#we can therefore do tuple unpacking 
a = "ben"

for num,letter in enumerate(a):
    print(num)
    print(letter)
    print("\n")

0
b


1
e


2
n

In [17]:
a = "ben"

for num,letter in enumerate(a):
    print(num)

0
1
2

In [22]:
a = "ben"

for num,letter in enumerate(a):
    print(letter)

b
e
n

In [26]:
#zip operator zips together two lists
mylist1 = ["orange","apple","onion"]
mylist2 = [100,200,300]
print(zip(mylist1,mylist2))

<zip object at 0x00000240505EDB08>

In [27]:
#zip operator zips together two lists,and the output is in form of a tuple
mylist1 = ["orange","apple","onion"]
mylist2 = [100,200,300]
for items in zip(mylist1,mylist2):
    print(items)

('orange', 100)
('apple', 200)
('onion', 300)

In [28]:
#similarly,you can do unpacking for the tuples
mylist1 = ["orange","apple","onion"]
mylist2 = [100,200,300]
for item,price in zip(mylist1,mylist2):
    print(item)

orange
apple
onion

In [29]:
mylist1 = ["orange","apple","onion"]
mylist2 = [100,200,300]
for item,price in zip(mylist1,mylist2):
    print(price)

100
200
300

In [30]:
#to print out as list,we cast the zip operator into a list
list(zip(mylist1,mylist2))

[('orange', 100), ('apple', 200), ('onion', 300)]

In [33]:
#in operator can be used to check if an object is in a list
"a" in ["b","c"]

False

In [34]:
"a" in ["a","b","c"]

True

In [35]:
#in can also be used with strings to check if a character is in the string
"b" in "ben"

True

In [36]:
"a" in "ben"

False

In [38]:
#similarly,in operator is also used with dictionaries
"key1" in {"key1":"value1"}

True

In [39]:
"value1" in {"key1","value1"}

True

In [40]:
"value2" in {"key1","value1"}

False

In [41]:
#we can call the items in a dictionary using the dictionary methods
my_dictionary = {"key1":"value1"}

"value1" in my_dictionary.values()

True

In [42]:
my_dictionary = {"key1":"value1"}

"key1" in my_dictionary.values()

False

###### min and max

In [43]:
mylist = [200,150,10]

In [46]:
min(mylist) #prints out the minimum value from the list

10

In [47]:
max(mylist) #prints out the maximum value from the list

200

##### random library
random library is one of the built in libraries in python . We will use it here with shuffle function,and randint function

In [6]:
from random import shuffle #imports the shuffle function from the random library

In [7]:
#create a list with an ordered sequence of numbers
list1 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
shuffle(list1) #this shuffles the list/makes it be in unordered format

In [10]:
#calling the list1 again will output it as unordered(shuffled) list
list1

[4, 3, 10, 7, 6, 2, 9, 1, 5, 8]

In [4]:
#this is a comment

In [16]:
list1 #to reshuffle the list,you have to run the cell that has the shuffle method again

[7, 9, 3, 2, 1, 10, 8, 6, 5, 4]

In [17]:
from random import randint #imports the randint function from the random library

In [19]:
#randint method/function is used for grabbing a random integer

In [24]:
randint(0,100) #grabs a random integer from the range of 0 to 100

73

In [25]:
randint(0,100)

21

In [37]:
#we can save the random number if we may want to use it later 
my_random_num = randint(0,100)

In [38]:
my_random_num

54

In [39]:
my_random_num

54

In [40]:
ran2 = randint(0,100)

In [41]:
ran2

97

In [42]:
ran2

97

###### input method
used to accept input from the user

In [43]:
input("What is your name: ")

What is your name: Ben

'Ben'

In [44]:
output = input("what is your result: ")

what is your result: 40

In [46]:
output #the input method treats everything as a string

'40'

In [47]:
type(output)

str

In [48]:
#we can change the data type of our output
float(output)

40.0

In [49]:
int(output)

40

In [61]:
output

'40'

Thank you for going through my first jupyter notebook. I welcome your feedback to help me in improving my skills in python programming language

In [62]:
#end of my first jupyter notebook

In [1]:
eval("True")

True

In [5]:
ask = int(input("how old are you?"))

how old are you?d

ValueError: invalid literal for int() with base 10: 'd'

In [3]:
ask

10

In [4]:
ask

10

In [8]:
answer = eval("input('how old are you?')")

how old are you?2.0